*{
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

#koelkast {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

section{
    border: 2px solid teal;
    padding: 10px;
    min-height: 100px;
}

h2{
    margin: 0 0 10px 0;
}

.navy{
    color: navy;
}

button{
    padding: 10px 20px;
    background-color: rgb(79, 198, 228);
    color: navy;
    font-size: 18px;
    border: 2px solid teal;
}